oglasi.dtd

<!ELEMENT Oglasnik (Oglas+)>

<!ELEMENT Oglas ((Kategorija+), DatumIsteka, Cena, TekstOglasa, Oznaka, (Email+))

<!ELEMENT Oznaka ((Tag*))>

<!ELEMENT Kategorija (#PCDATA)>

<!ELEMENT DatumIsteka (Dan,Mesec,Godina)>
<!ELEMENT Dan (#PCDATA)>
<!ELEMENT Mesec (#PCDATA)>
<!ELEMENT Godina (#PCDATA)>

<!ELEMENT Cena (#PCDATA)>
<!ATTLIST Cena tip (eur|din) "din">

<!ELEMENT Tag (#PCDATA)>

<!ELEMENT Email (#PCDATA)>
<!ATTLIST Email tip (privatni|sluzbeni) #REQUIRED>